<template lang="pug">
  div
    el-row
      table-modal(
        :visible-prop="showTableModal"
        type="add"
        @close="showTableModal = false"
      )

      el-button(
        type="primary"
        @click="showTableModal = true"
      ) Add new table

    el-row.padding-top-15
      el-col(
        v-for="table in tables"
        :key="table.id"
        :span="8"
      )
        table-item(
          :table="table.value"
          :id="table.id"
        )

</template>

<script>
  import firebase from 'firebase'

  import TableItem from '@/admin/components/Table/TableItem.vue'
  import TableModal from '@/admin/components/Table/TableModal.vue'

  export default {
    components: {
      TableItem,
      TableModal,
    },

    data() {
      return {
        tables: [],
        showTableModal: false,
      }
    },

    created() {
      this.getData()
    },

    methods: {
      /* eslint-disable */
      getData() {
        const tablesRef = firebase.database().ref('tables/')
        tablesRef.orderByChild('number').on('value', (data) => {
          const res = data.val()
          this.$set(this, 'tables', Object.keys(res).map((x) => {
            return {
              id: x,
              value: res[x],
            }
          }).sort((x, y) => {
            if (x.value.number < y.value.number) {
              return -1
            }
            return 1
          })
          )
        })
      },
    },
  }
</script>
