<template lang="pug">
  div
    h2 Menu List
    el-row.margin-top-30
      menu-modal(
        :visible-prop="showMenuModal"
        type="add"
        @close="showMenuModal = false"
      )

      el-button(
        type="primary"
        @click="showMenuModal = true"
      ) Add New Dish
    el-row.margin-top-15
      el-col(
        v-for="(dish, dishId) in dishes"
        :span="8"
      )
        menu-item(
          :dish="dish"
          :id="dishId"
        )

</template>

<script>
  import firebase from 'firebase'

  import MenuItem from '@/admin/components/Menu/MenuItem.vue'
  import MenuModal from '@/admin/components/Menu/MenuModal.vue'

  export default {
    components: {
      MenuItem,
      MenuModal,
    },

    data() {
      return {
        dishes: [],
        showMenuModal: false,
      }
    },

    created() {
      this.getMenus()
    },

    methods: {
      getMenus() {
        const ref = firebase.database().ref('dishes/')
        ref.on('value', (data) => {
          this.$set(this, 'dishes', data.val())
        })
      },
    },
  }
</script>
