<template lang="pug">
  div#app
    el-container
      sidebar(v-if="isAuthenticated && $route.name !== 'Login'")

      el-main(class="main")
        router-view

</template>

<script>
  import { mapState } from 'vuex'
  import Sidebar from './components/Sidebar'

  export default {
    name: 'RestaurantAdmin',

    components: {
      Sidebar,
    },

    computed: {
      ...mapState({
        isAuthenticated: state => state.user.isAuthenticated,
      }),
    },
  }
</script>

<style scoped>
  .main {
    padding: 30px 50px 30px 50px;
  }
</style>
