<template lang="pug">
  div
    menu-modal(
      :visible-prop="showMenuModal"
      :dish="dish"
      :id="id"
      type="edit"
      @close="showMenuModal = false"
    )
    el-card(:body-style="{ padding: '0px' }" style="width: 300px;; margin-top: 10px;")
      img(:src="dish.image" style="height: 300px;")
      div(style="padding: 14px;")
        p {{ dish.name }}
        hr
        small(style="word-wrap: break-word;") {{ dish.description }}
        p {{ dish.price }} VND
      el-button(
        type="primary"
        @click="showMenuModal = true"
      ) Edit

</template>

<script>
  import MenuModal from './MenuModal.vue'

  export default {
    components: {
      MenuModal,
    },

    props: {
      dish: {
        type: Object,
        required: true,
      },

      id: {
        type: String,
        required: true,
      },

      type: {
        type: String,
        default: 'future',
      },
    },

    data() {
      return {
        showMenuModal: false,
      }
    },
  }
</script>

<style scoped>
</style>
