<template lang="pug">
  el-dialog(width="40%" :title="modalTitle" :visible.sync="visible" @close="cancel")
    el-form(
      ref="form"
      :model="tempDish"
      label-width="200px"
      label-position="left"
      @submit.native.prevent="submit"
    )
      el-form-item(prop="name" label="Name")
        el-col(:span="24" align="left")
          el-input(v-model="tempDish.name")

      el-form-item(prop="image" label="Image")
        el-col(:span="24" align="left")
          el-input(v-model="tempDish.image")

      el-form-item(prop="price" label="Price")
        el-col(:span="24" align="left")
          el-input-number(v-model="tempDish.price")

      el-form-item(prop="description" label="Description")
        el-col(:span="24" align="right")
          el-input(v-model="tempDish.description")

      el-form-item
        el-row
          el-button(
            type="primary"
            icon="el-icon-document"
            @click="submit"
            :loading="submitting"
          ) Save
          el-button(
            type="primary"
            icon="el-icon-circle-close-outline"
            @click="cancel"
          ) Cancel
</template>

<script>
  import firebase from 'firebase'
  import uuidv4 from 'uuid/v4'

  import { NEW_MENU } from '@/utils/defaultObjects'

  const modalType = {
    add: 'Add New Dish',
    edit: 'Edit Dish',
  }

  export default {
    props: {
      visibleProp: {
        type: Boolean,
        default: false,
      },

      dish: {
        type: Object,
        default: () => ({}),
      },

      type: {
        type: String,
        default: 'add',
      },

      id: {
        type: String,
        default: '',
      },
    },

    data() {
      return {
        tempDish: { ...this.dish },
        submitting: false,
      }
    },

    computed: {
      visible: {
        get() {
          return this.visibleProp
        },

        set(value) {
          if (value === false) {
            this.$emit('close')
          }
        },
      },

      modalTitle() {
        return modalType[this.type]
      },
    },

    watch: {
      dish() {
        this.$set(this, 'tempDish', { ...this.dish })
      },

      type() {
        this.$set(this, 'tempDish', { ...this.dish })
      },
    },

    methods: {
      submit() {
        this.$refs.form.validate((valid) => {
          this.submitting = true
          if (valid && this.type === 'add') {
            const updateRef = firebase.database().ref('dishes/')
            const id = uuidv4()
            updateRef.child(id).set({
              ...this.tempDish,
              id,
            })

            this.$set(this, 'tempDish', { ...NEW_MENU })
            this.submitting = false
            this.cancel()
          } else if (valid && this.type === 'edit') {
            const updateRef = firebase.database().ref(`dishes/${this.id}`)
            updateRef.update(this.tempDish)

            this.submitting = false
            this.cancel()
          }

          this.submitting = false
          return false
        })
      },

      cancel() {
        this.$emit('close')
      },
    },
  }
</script>
