<template lang="pug">
  div
    table-modal(
      :visible-prop="showTableModal"
      :table="table"
      :id="id"
      type="edit"
      @close="showTableModal = false"
    )
    el-button(
      class="btn"
      @click="showTableModal = true"
    ) {{ table.number }}
</template>

<script>
  import TableModal from './TableModal.vue'

  export default {
    components: {
      TableModal,
    },

    props: {
      table: {
        type: Object,
        required: true,
      },
      id: {
        type: String,
        required: true,
      },
    },

    data() {
      return {
        showTableModal: false,
      }
    },
  }
</script>

<style scoped>
  .btn {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
</style>
