.padding-top-30 {
  padding-top: 30px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-left-15 {
  padding-left: 15px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-10 {
  margin-top: 10px;
}

.opacity-half {
  opacity: 0.5;
}

.float-right {
  float: right;
}
