<template lang="pug">
  el-aside
    el-row(:class="$style.sidebar")
      el-col(:class="$style.col" align="middle")
        h3.margin-top-30(:class="$style.h3") Restaurant Admin
        hr(:class="$style.hr")

        el-menu()
          router-link(to="/tables")
            el-menu-item(index="0")
              span Table list

          router-link(to="/menus")
            el-menu-item(index="1")
              span Menu

          router-link(to="/orders")
            el-menu-item(index="2")
              span Order list

          router-link(to="/history")
            el-menu-item(index="3")
              span Booking history

</template>

<script>
  export default {

  }
</script>

<style module>
  .sidebar {
    background-color: #f9f9f9;
  }

  .h3 {
    color: #0006ff;
  }

  .img {
    padding: 20px * 30px *;
  }

  .col {
    height: 100vh;
  }
</style>
