<template lang="pug">
  div
    h2 Booking History
    el-card.margin-top-30
      el-row(slot="header")
        el-col(:span="8")
          p Total Price
        el-col(:span="8")
          p Time
        el-col(:span="8")
          p Status
      el-row.padding-top-15(
        v-for="(order, orderId) in orders"
      )
        order-item(
          :order="order"
          :id="orderId"
          type="history"
        )

</template>

<script>
  import firebase from 'firebase'
  import moment from 'moment'

  import OrderItem from '@/admin/components/Order/OrderItem.vue'

  export default {
    components: {
      OrderItem,
    },

    data() {
      return {
        orders: [],
      }
    },

    created() {
      this.getOrders()
    },

    methods: {
      /* eslint-disable */
      getOrders() {
        const refOrder = firebase.database().ref('orders/')
        refOrder.orderByChild('date')
          .endAt(moment().format())
          .on('value', (data) => {
            this.$set(this, 'orders', data.val())
          })
      },
    },
  }
</script>
