<template lang="pug">
  div(:class="$style.loginPage")
    el-card(:class="$style.card")
      el-form(
        class="padding-top-15"
      )

      el-row.padding-top-15
        el-col(align="middle")
          el-button(
            :class="$style.button"
            @click="login"
            :loading="loading"
          ) Login with Google Account
</template>

<script>
  import firebase from 'firebase'
  import { ACTION_LOGIN } from '@/admin/store/actions'
  import { PAGE_INDEX } from '@/admin/router/routeNames'

  export default {
    data() {
      return {
        user: {
          email: '',
          password: '',
        },
        loading: false,
      }
    },

    methods: {
      login() {
        this.loading = true
        const provider = new firebase.auth.GoogleAuthProvider()

        firebase.auth().signInWithPopup(provider)
          .then((result) => {
            this.loading = false

            const token = result.credential.accessToken

            // console.log(token)
            // console.log(result.user)

            const adminRef = firebase.database().ref(`admins/${result.user.uid}`)
            return adminRef.on('value', (data) => {
              const admin = data.val()
              if (admin) {
                this.$store.dispatch(ACTION_LOGIN, {
                  user: {
                    ...admin,
                    uid: result.user.uid,
                  },
                  token,
                })

                this.$router.push({ name: PAGE_INDEX })
              } else {
                this.$notify.error({
                  title: 'Login error',
                  message: 'Not authorized',
                  position: 'bottom-right',
                })
              }
            })
          }).catch(() => {
            this.loading = false

            this.$notify.error({
              title: 'Login error',
              message: 'Something when wrong',
              position: 'bottom-right',
            })
          })
      },
    },
  }
</script>

<style module>
  .loginPage {
    margin: 100px auto;
  }

  .card {
    padding-left: 50px;
    padding-right: 50px;
    width: 400px;
  }
</style>
