<template lang="pug">
  el-dialog(width="40%" :title="`Order ID: ${id}`" :visible.sync="visible" @close="cancel")
    el-row
      p Menu:
      div(v-for="menu in menus" class="menu-item")
        img(:src="menu.dish.image")
        span {{ menu.dish.name }} x {{ menu.number }}

    el-row
      p Table number: {{ table.number }}

    el-row
      p Payment type: Cash

    el-row
      p Phone: {{ order.phone }}

    el-row.padding-top-30
      div.float-right
        el-button(
          type="primary"
          icon="el-icon-document"
          @click="approve"
          :loading="submitting"
        ) Approve
        el-button(
          type="primary"
          icon="el-icon-circle-close-outline"
          @click="reject"
          :loading="submitting"
        ) Reject
</template>

<script>
  import firebase from 'firebase'

  export default {
    props: {
      visibleProp: {
        type: Boolean,
        default: false,
      },

      order: {
        type: Object,
        required: true,
      },

      menus: {
        type: Array,
        required: true,
      },

      table: {
        type: Object,
        required: true,
      },

      id: {
        type: String,
        default: '',
      },
    },

    data() {
      return {
        submitting: false,
      }
    },

    computed: {
      visible: {
        get() {
          return this.visibleProp
        },

        set(value) {
          if (value === false) {
            this.$emit('close')
          }
        },
      },
    },

    methods: {
      setStatus(status) {
        const ref = firebase.database().ref(`orders/${this.id}/status`)
        ref.set(status)
        this.cancel()
      },

      approve() {
        this.setStatus('approved')
      },

      reject() {
        this.setStatus('rejected')
      },

      cancel() {
        this.$emit('close')
      },
    },
  }
</script>

<style scoped>
  .menu-item {
    & img {
      width: 50px;
      border-radius: 50%;
    }
  }
</style>
