<template lang="pug">
  div
    el-col(:span="8")
      p {{ order.date }} - {{ order.time }}
    el-col(:span="8")
      p {{ order.totalPrice}} VND
    el-col(:span="8")
      span(class="status") {{ status }}

      el-button(
        v-if="type === 'future'"
        type="primary"
        size="small"
        @click="showOrderModal = true"
      ) Update order

      order-modal(
        :visible-prop="showOrderModal"
        :order="order"
        :menus="menus"
        :table="table"
        :id="id"
        @close="showOrderModal = false"
      )


</template>

<script>
  import firebase from 'firebase'

  import OrderModal from './OrderModal.vue'

  export default {
    components: {
      OrderModal,
    },

    props: {
      order: {
        type: Object,
        required: true,
      },

      id: {
        type: String,
        required: true,
      },

      type: {
        type: String,
        default: 'future',
      },
    },

    data() {
      return {
        menus: [],
        table: {},
        showOrderModal: false,
      }
    },

    computed: {
      status() {
        if (this.order.status === 'approved') {
          return 'Approved'
        } else if (this.order.status === 'rejected') {
          return 'Rejected'
        }

        return 'Pending'
      },
    },

    created() {
      this.getData()
    },

    methods: {
      getData() {
        this.getDishes()
        this.getTable()
      },

      getDishes() {
        const refDish = firebase.database().ref('dishes/')

        /* eslint-disable */
        for (const key in this.order.dishes) {
          refDish.child(key).on('value', (data) => {
            this.menus.push({
              dish: data.val(),
              number: this.order.dishes[key],
            })
          })
        }
      },

      getTable() {
        const refTable = firebase.database().ref(`tables/${this.order.tableId}`)

        refTable.on('value', (data) => {
          this.$set(this, 'table', data.val())
        })
      },
    },
  }
</script>

<style scoped>
  .status {
    padding-right: 10px;
  }
</style>
